$background-color: #F8F8F8;
$primary-color: #4c6a86;
$secondary-color: #fff;
$teritary-color: #e6d058;
$teritary-light-color: #ebd979;
$primary-text-color: #425466;
$form-color: #d5d5dc;
$btn-color: #29445c;
